
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.blog-single-Wz3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  overflow: hidden;
  width: 100%;
  position: relative;

  .auto-group-vbpt-Crs {
    width: 100%;
    height: 151.9rem;
    position: relative;
    flex-shrink: 0;

    .banner-Yfq {
      top: 20.4rem;
      width: 192rem;
      height: 131.5rem;
      position: absolute;
      left: 0;

      .image-sCK {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #add4eb;
        width: 192rem;
        height: 89.8rem;

        .auto-group-hf4h-D1H {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 192rem;
          height: 89.8rem;
        }
      }
      .content-vgP {
        position: absolute;
        left: 26rem;
        top: 73rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 140rem;
        height: 58.5rem;

        .content-ecP {
          box-shadow: 0 1.4rem 3.6rem rgba(204, 204, 204, 0.25);
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 7.6rem 8.25rem;
          height: 38.5rem;
          background-color: #ffffff;
          margin-bottom: 8rem;
          width: 100%;

          .main-content-ZzF {
            width: 91.2rem;
            height: 100%;

            .date-hqZ {
              height: 2.2rem;
              display: flex;
              align-items: center;
              margin: 0rem 52.5rem 1.9rem 0rem;
              width: calc(100% - 52.5rem);

              .posted-on-january-6-2022-Qzs {
                margin-right: 3.4rem;
                font-family: Roboto, 'Source Sans Pro';
                align-items: baseline;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.1725;
                color: #274c5b;
                white-space: nowrap;
                display: flex;

                .posted-on-january-6-2022-Qzs-sub-0 {
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .posted-on-january-6-2022-Qzs-sub-1 {
                }
              }
              .admin-WRd {
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .vector-4i3 {
                  margin-right: 0.8rem;
                  width: 1.8rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .by-rachi-card-zLo {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .content-uif {
              display: flex;
              flex-direction: column;
              width: 100%;

              .research-more-organic-food-UFy {
                font-weight: 800;
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 7rem;
              }
              .established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-a-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-as-opposed-o3M {
                font-weight: 400;
                line-height: 1.6540000704;
                color: #515b5f;
                font-family: Open Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 69.2rem;
                font-size: 1.8rem;
              }
            }
          }
        }
        .uniquely-matrix-economically-sound-value-through-cooperative-technology-competently-parallel-task-fully-researched-data-and-enterprise-process-improvements-collaboratively-expedite-quality-manufactured-products-via-client-focused-results-quickly-communicate-enabled-technology-and-turnkey-leadership-skills-uniquely-enable-accurate-supply-chains-rather-than-friction-technology-yc3 {
          margin-left: 0.1rem;
          max-width: 93.7rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6540000704;
          color: #515b5f;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .header-WkP {
      left: 0;
      top: 0;
      background-color: rgba(1, 125, 3, 0.8999999762);
      box-sizing: border-box;
      padding: 6.9rem 16.2rem 6.8rem 16.2rem;
      width: 191.9791rem;
      height: 21.9929rem;
      position: absolute;

      .header-qGs {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .item-1-nxo {
          flex-shrink: 0;
          margin-right: 6.2791rem;
          height: 100%;
          display: flex;
          align-items: center;

          .logo-jt3 {
            flex-shrink: 0;
            margin-right: 15rem;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .logo-6Th {
              margin: 0.414rem 1.142rem 0rem 0rem;
              width: 3.6582rem;
              height: 5.3716rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-sjmb-cB9 {
              flex-shrink: 0;
              width: 21.7rem;
              height: 100%;
              position: relative;

              .hubs-MPd {
                height: 4.8rem;
                position: absolute;
                font-size: 4rem;
                font-weight: 400;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                white-space: nowrap;
                width: 8.5rem;
                left: 13.2rem;
                top: 3.4929rem;
                line-height: 1.185;
                color: #ffa858;
              }
              .farmers-TBm {
                position: absolute;
                font-weight: 400;
                color: #ffffff;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                white-space: nowrap;
                width: 17.8rem;
                height: 4.8rem;
                left: 0;
                top: 0;
                font-size: 4rem;
                line-height: 1.185;
              }
            }
          }
          .menu-xeK {
            position: relative;
            flex-shrink: 0;
            margin: 2.6964rem 0;
            width: 67.6rem;
            height: calc(100% - 5.3929rem);

            .home-about-pages-shop-projects-news-VPM {
              font-size: 2.4rem;
              line-height: 1.1725;
              height: 2.9rem;
              top: 0;
              left: 0;
              font-weight: 700;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              width: 67.6rem;
              position: absolute;
            }
            .icon-o99 {
              height: 0.3rem;
              position: absolute;
              left: 25.8rem;
              top: 1.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.6rem;
            }
          }
        }
        .item-2-X59 {
          margin: 0.796rem 0rem 0.896rem 0rem;
          height: calc(100% - 1.6929rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .search-FG3 {
            margin-right: 1.8rem;
            box-sizing: border-box;
            padding: 0.496rem 0.621rem 0.504rem 20.279rem;
            width: 26.5rem;
            height: 100%;
            background-color: #f9f9f9;
            border-radius: 3.6rem;
            flex-shrink: 0;

            .search-icon-Ato {
              height: 100%;
              background-color: #7db593;
              border-radius: 2.8rem;
              box-sizing: border-box;
              padding: 1.7rem 1.6rem 1.8rem 1.9rem;
              width: 100%;

              .vector-u5h {
                width: 2.1rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .cart-R43 {
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e0e0e0;
            border-radius: 3.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 2.3rem 0.5rem 0.6rem;

            .cart-icon-kMD {
              margin-right: 1.2rem;
              box-sizing: border-box;
              padding: 1.7rem 1.747rem 1.7rem 1.5rem;
              height: 100%;
              background-color: #274c5b;
              border-radius: 2.8rem;
              flex-shrink: 0;

              .icon-H6F {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                width: 2.3533rem;
                height: 2.2rem;
              }
            }
            .cart-0-QwZ {
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .auto-group-ixem-JGF {
    box-sizing: border-box;
    padding: 2.2rem 26rem 12rem 26rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .content-dJX {
      width: calc(100% - 46.4rem);
      row-gap: 5rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 23.2rem 12.1rem 23.2rem;

      .item-1-MEX {
        width: 93.5rem;
        flex-shrink: 0;

        .content-uG3 {
          margin-bottom: 3rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .preferred-form-of-vitamin-d-Fao {
            color: #274c5b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            font-size: 5rem;
            font-weight: 800;
            line-height: 1.1725;
          }
          .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-a-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-here-making-it-look-like-readable-english-Ahm {
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 93.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
          }
        }
        .points-yfD {
          row-gap: 2.1rem;
          display: flex;
          flex-direction: column;

          .publishing-packages-and-web-pagelorem-ipsum-as-their-default-KDH {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .content-here-content-here-making-it-look-like-readable-Eb9 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .packages-and-web-pagelorem-ipsum-as-their-default-kJb {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .item-2-fwM {
        width: 100%;
        height: 23.7rem;
        background-color: #f1edea;
        border-radius: 3rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.9rem 6.25rem 6.8rem 6.25rem;

        .the-first-rule-of-any-organic-used-in-a-business-is-that-nature-applied-to-an-efficient-operation-will-magnify-the-efficiency-the-second-is-that-organic-applied-to-an-inefficient-operation-will-magnify-the-health-Q8F {
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.6540000916;
          color: #274c5b;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 81.1rem;
        }
      }
      .item-3-1Nw {
        width: 93.5rem;
        flex-shrink: 0;

        .content-NDV {
          display: flex;
          flex-direction: column;
          margin-bottom: 3rem;
          width: 100%;

          .make-perfect-organic-product-with-us-iYF {
            color: #274c5b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.1725;
          }
          .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-a-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-here-making-it-look-like-readable-english-F2P {
            max-width: 93.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .points-dod {
          row-gap: 2.1rem;
          display: flex;
          flex-direction: column;

          .publishing-packages-and-web-pagelorem-ipsum-as-their-default-nRd {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .content-here-content-here-making-it-look-like-readable-hHh {
            flex-shrink: 0;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            align-items: baseline;
            white-space: nowrap;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;

            .content-here-content-here-making-it-look-like-readable-hHh-sub-0 {
              color: #515b5f;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6540000704;
            }
            .content-here-content-here-making-it-look-like-readable-hHh-sub-1 {
            }
          }
          .packages-and-web-pagelorem-ipsum-as-their-default-f83 {
            display: flex;
            align-items: baseline;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;

            .packages-and-web-pagelorem-ipsum-as-their-default-f83-sub-0 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6540000704;
              color: #515b5f;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .packages-and-web-pagelorem-ipsum-as-their-default-f83-sub-1 {
            }
          }
          .more-or-less-normal-distribution-of-letters-6DM {
            display: flex;
            flex-shrink: 0;
            font-family: Open Sans, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            white-space: nowrap;
            align-items: baseline;
            font-size: 1.8rem;

            .more-or-less-normal-distribution-of-letters-6DM-sub-0 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6540000704;
              color: #515b5f;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .more-or-less-normal-distribution-of-letters-6DM-sub-1 {
            }
          }
        }
      }
    }
    .image-ghM {
      width: 100%;
      background-image: url('REPLACE_IMAGE:BUAkhHeKpTyJG1eZyR9DpZ');
      height: 32.3rem;
      background-color: #37b5de;
      border-radius: 3rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
      padding: 10.5rem 7.1rem 10rem 7.1rem;
      flex-shrink: 0;

      .content-c5D {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .subscribe-to-our-newsletter-xes {
          flex-shrink: 0;
          margin-right: 35.1rem;
          max-width: 33.2rem;
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .button-5Dh {
          margin: 1.65rem 0rem 2.15rem 0rem;
          height: calc(100% - 3.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .mail-QFy {
            width: 34.9rem;
            line-height: 1.1725;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 0.6rem;
            padding: 2.8rem 2.3rem 3rem 2.3rem;
            font-weight: 400;
            box-sizing: border-box;
            height: 100%;
            font-style: italic;
            color: #ababab;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            border-radius: 1.6rem;
          }
          .button-qMH {
            align-items: center;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2rem;
            line-height: 1.1725;
            flex-shrink: 0;
            width: 22rem;
            color: #ffffff;
            background-color: #017d03;
            border-radius: 1.6rem;
            height: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
  .footer-HDH {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #002d00;
    flex-shrink: 0;

    .auto-group-vse9-SM5 {
      width: calc(100% - 67.45rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 36.35rem 5.2rem 31.1rem;

      .contact-us-9mH {
        margin: 3.75rem 6.3rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-us-gmD {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: Rubik One, 'Source Sans Pro';
          color: #ffffff;
          margin: 0rem 0rem 1.75rem 1.7rem;
          display: flex;
          align-items: baseline;
          justify-content: center;

          .contact-us-gmD-sub-0 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.185;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
          .contact-us-gmD-sub-1 {
          }
          .contact-us-gmD-sub-2 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.185;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
        }
        .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b {
          max-width: 26.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6499999364;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;

          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-0 {
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-1 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-2 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-3 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-4 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-5 {
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-c2b-sub-6 {
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
          }
        }
      }
      .line-ivB {
        flex-shrink: 0;
        margin-right: 5.55rem;
        width: 0rem;
        height: 0.1rem;
        background-color: #d4d4d4;
      }
      .about-3hZ {
        margin-right: 5.55rem;
        width: 52.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .logo-PWX {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 12.93rem 2.2rem 12.93rem;
          width: calc(100% - 25.8604rem);
          display: flex;

          .logo-X6w {
            height: 5.3716rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8209rem;
            width: 3.6582rem;
          }
          .auto-group-mv6d-rQ7 {
            margin-top: 0.5357rem;
            width: 22.0604rem;
            height: 8.0643rem;
            position: relative;
            flex-shrink: 0;

            .farmers-yzX {
              line-height: 1.185;
              color: #ffffff;
              font-family: Rubik Wet Paint, 'Source Sans Pro';
              width: 17.8rem;
              left: 0;
              font-size: 4rem;
              font-weight: 400;
              height: 4.8rem;
              position: absolute;
              top: 0;
              white-space: nowrap;
            }
            .hub-h9q {
              left: 13.5604rem;
              font-size: 4rem;
              font-family: Rubik Wet Paint, 'Source Sans Pro';
              white-space: nowrap;
              width: 8.5rem;
              height: 4.8rem;
              font-weight: 400;
              line-height: 1.185;
              color: #ffffff;
              position: absolute;
              top: 3.2643rem;
            }
          }
        }
        .content-Zxj {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .we-provide-specialized-winterization-services-to-safeguard-your-pool-during-the-off-season-and-when-spring-arrives-we-handle-the-thorough-opening-process-Xef {
            color: #ffffff;
            margin-bottom: 5rem;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 1.6539999644;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 52.4rem;
            text-align: center;
          }
          .follow-ymZ {
            flex-shrink: 0;
            margin: 0 11.95rem;
            width: calc(100% - 23.9rem);
            height: 6rem;
            display: flex;
            column-gap: 1.5rem;
            align-items: center;

            .item-1-775 {
              padding: 2.1rem 2.072rem 2.043rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;

              .insta-e71 {
                width: 1.9283rem;
                height: 1.8569rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-2-NHu {
              box-sizing: border-box;
              padding: 2.1rem 2.072rem 2.054rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;

              .fb-W9D {
                height: 1.8457rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.9283rem;
              }
            }
            .item-3-399 {
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.2rem 1.934rem 2.147rem 2rem;
              height: 100%;
              background-color: #eff6f1;

              .twiter-yoV {
                width: 2.066rem;
                height: 1.6528rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-4-ux3 {
              box-sizing: border-box;
              padding: 2rem 2.041rem 2.041rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;

              .pintrest-eud {
                object-fit: contain;
                vertical-align: top;
                width: 1.9589rem;
                height: 1.9589rem;
              }
            }
          }
        }
      }
      .line-Ad5 {
        margin-right: 4.6rem;
        width: 0rem;
        height: 0.1rem;
        background-color: #d4d4d4;
        flex-shrink: 0;
      }
      .utility-pages-hsu {
        margin-top: 3.2rem;
        width: 23.35rem;
        flex-shrink: 0;

        .quick-links-FPd {
          font-weight: 700;
          font-family: Rubik, 'Source Sans Pro';
          margin-bottom: 2.4rem;
          display: flex;
          justify-content: center;
          font-size: 3.2rem;
          white-space: nowrap;
          width: 100%;
          text-align: center;
          line-height: 1.185;
          color: #ffffff;
        }
        .about-us-services-shop-blog-team-Zv7 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 2.7290000916;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 8.2rem;
        }
      }
    }
    .copyright-HLK {
      font-weight: 400;
      line-height: 1.6540000704;
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      box-sizing: border-box;
      text-align: center;
      color: #515b5f;
      border-top: solid 0.1rem #d4d4d4;
      flex-shrink: 0;
      padding: 1.7rem 72.15rem 0rem 72.15rem;
      font-size: 1.8rem;
      align-items: baseline;
      width: 100%;
      white-space: nowrap;

      .copyright-HLK-sub-0 {
      }
      .copyright-HLK-sub-1 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .copyright-HLK-sub-2 {
      }
      .copyright-HLK-sub-3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .copyright-HLK-sub-4 {
      }
      .copyright-HLK-sub-5 {
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
      }
    }
  }
}
