
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.blog-Gdu {
  box-sizing: border-box;
  padding-bottom: 2.1rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-8cmj-koy {
    width: 100%;
    height: 65.4rem;
    position: relative;
    flex-shrink: 0;

    .image-hDR {
      position: absolute;
      background-color: #f5f5f7;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:2:11386');
      width: 192rem;
      height: 45rem;
      left: 0;
      top: 20.4rem;
      background-size: cover;

      .recent-news-pJ3 {
        height: 8.3rem;
        position: absolute;
        font-size: 7rem;
        font-family: Roboto, 'Source Sans Pro';
        width: 43rem;
        left: 74.5rem;
        top: 18.4rem;
        font-weight: 800;
        line-height: 1.1725;
        color: #274c5b;
        white-space: nowrap;
      }
      .patterns-6mM {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 192rem;
        height: 45rem;
      }
    }
    .header-bi7 {
      box-sizing: border-box;
      padding: 6.9rem 16.2rem 6.8rem 16.2rem;
      width: 191.9791rem;
      height: 21.9929rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(1, 125, 3, 0.8999999762);

      .header-7wM {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .item-1-sfd {
          margin-right: 6.2791rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-22j {
            margin-right: 15rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .logo-N6b {
              height: 5.3716rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.414rem 1.142rem 0rem 0rem;
              width: 3.6582rem;
            }
            .auto-group-we3x-5Wo {
              width: 21.7rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .hubs-E8o {
                width: 8.5rem;
                top: 3.4929rem;
                font-size: 4rem;
                line-height: 1.185;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                height: 4.8rem;
                position: absolute;
                left: 13.2rem;
                font-weight: 400;
                color: #ffa858;
                white-space: nowrap;
              }
              .farmers-Xdh {
                width: 17.8rem;
                height: 4.8rem;
                font-size: 4rem;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 400;
                line-height: 1.185;
                color: #ffffff;
              }
            }
          }
          .menu-p71 {
            margin: 2.6964rem 0;
            width: 67.6rem;
            height: calc(100% - 5.3929rem);
            position: relative;
            flex-shrink: 0;

            .home-about-pages-shop-projects-news-Mcj {
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              left: 0;
              font-size: 2.4rem;
              position: absolute;
              top: 0;
              font-weight: 700;
              white-space: nowrap;
              width: 67.6rem;
              height: 2.9rem;
            }
            .icon-FTD {
              left: 25.8rem;
              top: 1.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.6rem;
              height: 0.3rem;
              position: absolute;
            }
          }
        }
        .item-2-ye7 {
          margin: 0.796rem 0rem 0.896rem 0rem;
          height: calc(100% - 1.6929rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .search-u1y {
            background-color: #f9f9f9;
            border-radius: 3.6rem;
            flex-shrink: 0;
            margin-right: 1.8rem;
            box-sizing: border-box;
            padding: 0.496rem 0.621rem 0.504rem 20.279rem;
            width: 26.5rem;
            height: 100%;

            .search-icon-26b {
              width: 100%;
              height: 100%;
              background-color: #7db593;
              border-radius: 2.8rem;
              box-sizing: border-box;
              padding: 1.7rem 1.6rem 1.8rem 1.9rem;

              .vector-MPm {
                width: 2.1rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .cart-4oy {
            box-sizing: border-box;
            padding: 0.5rem 2.3rem 0.5rem 0.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e0e0e0;
            border-radius: 3.3rem;
            flex-shrink: 0;

            .cart-icon-njy {
              border-radius: 2.8rem;
              flex-shrink: 0;
              margin-right: 1.2rem;
              box-sizing: border-box;
              padding: 1.7rem 1.747rem 1.7rem 1.5rem;
              height: 100%;
              background-color: #274c5b;

              .icon-KE7 {
                width: 2.3533rem;
                height: 2.2rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .cart-0-qTM {
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .auto-group-dssb-WJb {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12rem 26rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .blog-qrf {
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;
      row-gap: 5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .item-1-aZM {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 58.9rem;

        .item-1-jSF {
          margin-right: 4.6rem;
          width: 67.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .image-UPq {
            position: absolute;
            top: 0;
            background-color: #c4c4c4;
            border-radius: 3rem;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
            padding: 4.3rem 3.2rem;
            width: 67.7rem;
            height: 52.4rem;
            left: 0;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:BUAkHt9f5X6UY12PZXB549');

            .date-bUT {
              margin: 0rem 53.1rem 35.6rem 0rem;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.3rem 2.3rem;
              width: 8.2rem;
              height: 8.2rem;
              background-color: #ffffff;
              border-radius: 4.1rem;

              .nov-Hs5 {
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';
                max-width: 3.6rem;
                text-align: center;
                font-size: 2.5rem;
                font-weight: 800;

                .nov-Hs5-sub-0 {
                }
                .nov-Hs5-sub-1 {
                  font-size: 2rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
          .text-QaK {
            box-shadow: 0 2rem 3.5rem rgba(166, 166, 166, 0.25);
            border-radius: 3.1rem 3.4rem 3rem 3rem;
            left: 3.2rem;
            top: 30.6rem;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 5.4rem 1rem 2.5rem 1rem;
            width: 61.2rem;
            height: 28.3rem;
            position: absolute;

            .content-X99 {
              width: 51rem;
              height: 100%;

              .admin-5RZ {
                margin: 0rem 32.6rem 1.8rem 4.7rem;
                width: calc(100% - 37.3rem);
                display: flex;
                align-items: flex-start;

                .vector-o6f {
                  margin-right: 0.8rem;
                  width: 1.8rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .by-rachi-card-XYT {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                }
              }
              .auto-group-wa9k-f8s {
                width: 100%;
                height: 16.4rem;
                position: relative;

                .display-text-CuV {
                  width: 46.3rem;
                  height: 9.1rem;
                  position: absolute;
                  left: 4.7rem;
                  top: 0;

                  .the-benefits-of-vitamin-d-how-to-get-it-ws5 {
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                  }
                  .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-G8f {
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 42.1rem;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.6540000704;
                    color: #515b5f;
                  }
                }
                .button-9y9 {
                  box-sizing: border-box;
                  padding: 2.8rem 4.7rem;
                  width: 22rem;
                  left: 0;
                  align-items: center;
                  height: 8rem;
                  position: absolute;
                  top: 8.4rem;
                  display: flex;

                  .read-more-euu {
                    font-weight: 700;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 0.9rem;
                    font-size: 2rem;
                  }
                  .aerrow-Bew {
                    margin-bottom: 0.1rem;
                    width: 1.9rem;
                    height: 1.9rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .item-2-FPu {
          flex-shrink: 0;
          width: 67.7rem;
          height: 100%;
          position: relative;

          .image-byZ {
            padding: 4.3rem 3.2rem;
            left: 0;
            top: 0;
            background-size: cover;
            background-position: center;
            border-radius: 3rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:BUAmYmDtP3QnhF9NLcxJ7F');
            box-sizing: border-box;
            width: 67.7rem;
            height: 52.4rem;
            position: absolute;
            background-color: #c4c4c4;

            .date-vF9 {
              width: 8.2rem;
              height: 8.2rem;
              background-color: #ffffff;
              border-radius: 4.1rem;
              margin: 0rem 53.1rem 35.6rem 0rem;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.3rem 2.3rem;

              .nov-Rhh {
                font-size: 2.5rem;
                font-weight: 800;
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';
                max-width: 3.6rem;
                text-align: center;

                .nov-Rhh-sub-0 {
                }
                .nov-Rhh-sub-1 {
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 800;
                }
              }
            }
          }
          .text-P2F {
            box-shadow: 0 2rem 3.5rem rgba(166, 166, 166, 0.25);
            background-color: #ffffff;
            box-sizing: border-box;
            width: 61.2rem;
            left: 3.2rem;
            top: 30.6rem;
            padding: 5.4rem 1rem 2.5rem 1rem;
            height: 28.3rem;
            position: absolute;
            border-radius: 3.1rem 3.4rem 3rem 3rem;

            .content-gX9 {
              width: 46.8rem;
              height: 100%;

              .admin-SFR {
                align-items: flex-start;
                margin: 0rem 28.4rem 1.8rem 4.7rem;
                width: calc(100% - 33.1rem);
                display: flex;

                .vector-mYb {
                  margin-right: 0.8rem;
                  width: 1.8rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .by-rachi-card-7MZ {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .auto-group-j95w-Eh5 {
                position: relative;
                width: 100%;
                height: 16.4rem;

                .display-text-BsD {
                  width: 42.1rem;
                  height: 9.1rem;
                  position: absolute;
                  left: 4.7rem;
                  top: 0;

                  .our-favorite-summertime-tomato-8Gf {
                    margin-bottom: 0.1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-F6P {
                    line-height: 1.6540000704;
                    color: #515b5f;
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 42.1rem;
                    font-size: 1.8rem;
                    font-weight: 400;
                  }
                }
                .button-9Sf {
                  padding: 2.8rem 4.7rem;
                  position: absolute;
                  left: 0;
                  top: 8.4rem;
                  display: flex;
                  box-sizing: border-box;
                  width: 22rem;
                  height: 8rem;
                  align-items: center;

                  .read-more-4Jj {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 0.9rem;
                  }
                  .aerrow-bJf {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.1rem;
                    width: 1.9rem;
                    height: 1.9rem;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }
      }
      .item-2-Tbm {
        width: 100%;
        height: 58.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-1-zLo {
          margin-right: 4.6rem;
          width: 67.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .image-Wa3 {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #c4c4c4;
            background-position: center;
            background-image: url('REPLACE_IMAGE:BUAkPTph6GKDHfMkQybp1j');
            width: 67.7rem;
            padding: 4.3rem 3.2rem;
            height: 52.4rem;
            border-radius: 3rem;
            background-size: cover;
            background-repeat: no-repeat;
            box-sizing: border-box;

            .date-DUT {
              margin: 0rem 53.1rem 35.6rem 0rem;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.3rem 2.3rem;
              width: 8.2rem;
              height: 8.2rem;
              background-color: #ffffff;
              border-radius: 4.1rem;

              .nov-gcw {
                max-width: 3.6rem;
                text-align: center;
                font-size: 2.5rem;
                font-weight: 800;
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';

                .nov-gcw-sub-0 {
                }
                .nov-gcw-sub-1 {
                  font-size: 2rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
          .text-zGF {
            box-sizing: border-box;
            position: absolute;
            border-radius: 3.1rem 3.4rem 3rem 3rem;
            box-shadow: 0 2rem 3.5rem rgba(166, 166, 166, 0.25);
            background-color: #ffffff;
            padding: 5.4rem 1rem 2.5rem 1rem;
            width: 61.2rem;
            height: 28.3rem;
            left: 3.2rem;
            top: 30.6rem;

            .content-6q5 {
              width: 46.8rem;
              height: 100%;

              .admin-r3Z {
                margin: 0rem 28.4rem 1.8rem 4.7rem;
                width: calc(100% - 33.1rem);
                display: flex;
                align-items: flex-start;

                .vector-B5q {
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.8rem;
                  width: 1.8rem;
                }
                .by-rachi-card-i5m {
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
              }
              .auto-group-kuxx-rBy {
                height: 16.4rem;
                position: relative;
                width: 100%;

                .display-text-Pxb {
                  width: 42.1rem;
                  height: 9.1rem;
                  position: absolute;
                  left: 4.7rem;
                  top: 0;

                  .benefits-of-vitamin-c-how-to-get-it-LN3 {
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                    line-height: 1.1725;
                  }
                  .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-4J3 {
                    color: #515b5f;
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 42.1rem;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.6540000704;
                  }
                }
                .button-9KV {
                  height: 8rem;
                  position: absolute;
                  top: 8.4rem;
                  box-sizing: border-box;
                  padding: 2.8rem 4.7rem;
                  width: 22rem;
                  left: 0;
                  display: flex;
                  align-items: center;

                  .read-more-f2w {
                    margin-right: 0.9rem;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .aerrow-bBV {
                    flex-shrink: 0;
                    margin-bottom: 0.1rem;
                    width: 1.9rem;
                    height: 1.9rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
        .item-2-UPh {
          position: relative;
          flex-shrink: 0;
          width: 67.7rem;
          height: 100%;

          .image-piT {
            box-sizing: border-box;
            padding: 4.3rem 3.2rem;
            left: 0;
            background-repeat: no-repeat;
            background-color: #c4c4c4;
            border-radius: 3rem;
            background-size: cover;
            background-position: center;
            width: 67.7rem;
            height: 52.4rem;
            position: absolute;
            top: 0;
            background-image: url('REPLACE_IMAGE:BUAkF8jEiNnwxNq86Zju9f');

            .date-YuM {
              border-radius: 4.1rem;
              margin: 0rem 53.1rem 35.6rem 0rem;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.3rem 2.3rem;
              width: 8.2rem;
              height: 8.2rem;
              background-color: #ffffff;

              .nov-qtT {
                max-width: 3.6rem;
                text-align: center;
                font-size: 2.5rem;
                font-weight: 800;
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';

                .nov-qtT-sub-0 {
                }
                .nov-qtT-sub-1 {
                  font-size: 2rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
          .text-1wM {
            background-color: #ffffff;
            border-radius: 3.1rem 3.4rem 3rem 3rem;
            box-sizing: border-box;
            padding: 5.4rem 1rem 2.5rem 1rem;
            width: 61.2rem;
            top: 30.6rem;
            box-shadow: 0 2rem 3.5rem rgba(166, 166, 166, 0.25);
            height: 28.3rem;
            position: absolute;
            left: 3.2rem;

            .content-6T1 {
              width: 46.8rem;
              height: 100%;

              .admin-RkB {
                margin: 0rem 28.4rem 1.8rem 4.7rem;
                width: calc(100% - 33.1rem);
                display: flex;
                align-items: flex-start;

                .vector-8eb {
                  margin-right: 0.8rem;
                  width: 1.8rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .by-rachi-card-SfH {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-aq3o-xdd {
                width: 100%;
                height: 16.4rem;
                position: relative;

                .display-text-WQF {
                  top: 0;
                  width: 42.1rem;
                  height: 9.1rem;
                  position: absolute;
                  left: 4.7rem;

                  .research-more-organic-foods-eFZ {
                    white-space: nowrap;
                    margin-bottom: 0.1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                  .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-ZtK {
                    font-weight: 400;
                    line-height: 1.6540000704;
                    color: #515b5f;
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 42.1rem;
                    font-size: 1.8rem;
                  }
                }
                .button-Gnj {
                  width: 22rem;
                  left: 0;
                  display: flex;
                  top: 8.4rem;
                  align-items: center;
                  box-sizing: border-box;
                  padding: 2.8rem 4.7rem;
                  height: 8rem;
                  position: absolute;

                  .read-more-BPu {
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 0.9rem;
                    font-size: 2rem;
                    font-weight: 700;
                  }
                  .aerrow-tJK {
                    margin-bottom: 0.1rem;
                    width: 1.9rem;
                    height: 1.9rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
      }
      .item-3-UnK {
        height: 58.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .item-1-DE7 {
          flex-shrink: 0;
          margin-right: 4.6rem;
          width: 67.7rem;
          height: 100%;
          position: relative;

          .image-xBh {
            border-radius: 3rem;
            background-size: cover;
            background-position: center;
            width: 67.7rem;
            height: 52.4rem;
            position: absolute;
            background-color: #c4c4c4;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:BUAkLDR72NKb9ZVXQkpFDX');
            box-sizing: border-box;
            padding: 4.3rem 3.2rem;
            left: 0;
            top: 0;

            .date-UQw {
              margin: 0rem 53.1rem 35.6rem 0rem;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.3rem 2.3rem;
              width: 8.2rem;
              height: 8.2rem;
              background-color: #ffffff;
              border-radius: 4.1rem;

              .nov-NWK {
                max-width: 3.6rem;
                text-align: center;
                font-size: 2.5rem;
                font-weight: 800;
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';

                .nov-NWK-sub-0 {
                }
                .nov-NWK-sub-1 {
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  font-size: 2rem;
                }
              }
            }
          }
          .text-WF9 {
            position: absolute;
            left: 3.2rem;
            top: 30.6rem;
            box-shadow: 0 2rem 3.5rem rgba(166, 166, 166, 0.25);
            border-radius: 3.1rem 3.4rem 3rem 3rem;
            box-sizing: border-box;
            width: 61.2rem;
            background-color: #ffffff;
            padding: 5.4rem 1rem 2.5rem 1rem;
            height: 28.3rem;

            .content-zg7 {
              width: 46.8rem;
              height: 100%;

              .admin-jtb {
                margin: 0rem 28.4rem 1.8rem 4.7rem;
                width: calc(100% - 33.1rem);
                display: flex;
                align-items: flex-start;

                .vector-4vs {
                  width: 1.8rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.8rem;
                }
                .by-rachi-card-D35 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .auto-group-dkms-8vj {
                width: 100%;
                height: 16.4rem;
                position: relative;

                .display-text-5b5 {
                  left: 4.7rem;
                  top: 0;
                  width: 42.1rem;
                  height: 9.1rem;
                  position: absolute;

                  .everyday-fresh-fruites-Nq5 {
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                    line-height: 1.1725;
                  }
                  .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-uKD {
                    font-weight: 400;
                    line-height: 1.6540000704;
                    color: #515b5f;
                    font-family: Open Sans, 'Source Sans Pro';
                    max-width: 42.1rem;
                    font-size: 1.8rem;
                  }
                }
                .button-wFu {
                  left: 0;
                  padding: 2.8rem 4.7rem;
                  width: 22rem;
                  height: 8rem;
                  position: absolute;
                  box-sizing: border-box;
                  top: 8.4rem;
                  display: flex;
                  align-items: center;

                  .read-more-FGb {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 0.9rem;
                  }
                  .aerrow-yTV {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.1rem;
                    width: 1.9rem;
                    height: 1.9rem;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }
        .item-2-2gf {
          flex-shrink: 0;
          width: 67.7rem;
          height: 100%;
          position: relative;

          .image-nA3 {
            background-size: cover;
            background-position: center;
            padding: 4.3rem 3.2rem;
            top: 0;
            background-color: #c4c4c4;
            position: absolute;
            left: 0;
            border-radius: 3rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:BUAmEGkhPAqEybHwPpwh7T');
            box-sizing: border-box;
            width: 67.7rem;
            height: 52.4rem;

            .date-hH1 {
              margin: 0rem 53.1rem 35.6rem 0rem;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.3rem 2.3rem;
              width: 8.2rem;
              height: 8.2rem;
              background-color: #ffffff;
              border-radius: 4.1rem;

              .nov-zG7 {
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';
                max-width: 3.6rem;
                text-align: center;
                font-size: 2.5rem;
                font-weight: 800;

                .nov-zG7-sub-0 {
                }
                .nov-zG7-sub-1 {
                  font-family: Roboto, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                }
              }
            }
          }
          .text-4QP {
            left: 3.2rem;
            background-color: #ffffff;
            border-radius: 3.1rem 3.4rem 3rem 3rem;
            box-sizing: border-box;
            width: 61.2rem;
            height: 28.3rem;
            position: absolute;
            top: 30.6rem;
            box-shadow: 0 2rem 3.5rem rgba(166, 166, 166, 0.25);
            padding: 5.4rem 1rem 2.5rem 1rem;

            .content-y1Z {
              height: 100%;
              width: 50rem;

              .admin-iUw {
                margin: 0rem 31.6rem 1.8rem 4.7rem;
                width: calc(100% - 36.3rem);
                display: flex;
                align-items: flex-start;

                .vector-FUs {
                  margin-right: 0.8rem;
                  width: 1.8rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .by-rachi-card-njh {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-bv45-8Hm {
                width: 100%;
                height: 16.4rem;
                position: relative;

                .display-text-HAf {
                  left: 4.7rem;
                  top: 0;
                  width: 45.3rem;
                  height: 9.1rem;
                  position: absolute;

                  .dont-use-plastic-product-its-kill-nature-pRV {
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                  }
                  .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-6to {
                    max-width: 42.1rem;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.6540000704;
                    color: #515b5f;
                    font-family: Open Sans, 'Source Sans Pro';
                  }
                }
                .button-BQT {
                  align-items: center;
                  box-sizing: border-box;
                  width: 22rem;
                  left: 0;
                  display: flex;
                  padding: 2.8rem 4.7rem;
                  height: 8rem;
                  position: absolute;
                  top: 8.4rem;

                  .read-more-tpf {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.1725;
                    color: #274c5b;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 0.9rem;
                  }
                  .aerrow-piK {
                    margin-bottom: 0.1rem;
                    width: 1.9rem;
                    height: 1.9rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .image-Hbu {
      background-position: center;
      background-image: url('REPLACE_IMAGE:BUAm9SZQvZ9eZeU1rGYYVT');
      flex-shrink: 0;
      box-sizing: border-box;
      height: 32.3rem;
      background-color: #37b5de;
      border-radius: 3rem;
      padding: 10.5rem 7.1rem 10rem 7.1rem;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      .content-ceB {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .subscribe-to-our-newsletter-xxw {
          max-width: 33.2rem;
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 35.1rem;
        }
        .button-HVR {
          margin: 1.65rem 0rem 2.15rem 0rem;
          height: calc(100% - 3.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .mail-bFD {
            font-style: italic;
            color: #ababab;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 2.8rem 2.3rem 3rem 2.3rem;
            line-height: 1.1725;
            border-radius: 1.6rem;
            height: 100%;
            font-weight: 400;
            font-size: 1.8rem;
            white-space: nowrap;
            margin-right: 0.6rem;
            width: 34.9rem;
            box-sizing: border-box;
            font-family: Roboto, 'Source Sans Pro';
          }
          .button-BjD {
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            width: 22rem;
            height: 100%;
            align-items: center;
            background-color: #017d03;
            font-weight: 700;
            line-height: 1.1725;
            border-radius: 1.6rem;
            flex-shrink: 0;
            font-size: 2rem;
            font-family: Roboto, 'Source Sans Pro';
            justify-content: center;
          }
        }
      }
    }
  }
  .footer-Dvo {
    display: flex;
    flex-direction: column;
    background-color: #002d00;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-wtcr-BMq {
      margin: 0rem 36.35rem 5.2rem 31.1rem;
      width: calc(100% - 67.45rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .contact-us-VdR {
        margin: 3.75rem 6.3rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-us-E5D {
          font-weight: 400;
          color: #ffffff;
          font-family: Rubik One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: baseline;
          justify-content: center;
          margin: 0rem 0rem 1.75rem 1.7rem;
          font-size: 3.2rem;
          line-height: 1.2575;

          .contact-us-E5D-sub-0 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.185;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
          .contact-us-E5D-sub-1 {
          }
          .contact-us-E5D-sub-2 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.185;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
          }
        }
        .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7 {
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 26.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6499999364;
          color: #ffffff;

          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-0 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-1 {
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-2 {
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6499999364;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-3 {
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-4 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-5 {
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6499999364;
            color: #ffffff;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-Gg7-sub-6 {
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
          }
        }
      }
      .line-AaT {
        margin-right: 5.55rem;
        width: 0rem;
        height: 0.1rem;
        background-color: #d4d4d4;
        flex-shrink: 0;
      }
      .about-i6B {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.55rem;
        width: 52.4rem;
        align-items: center;
        display: flex;

        .logo-eVd {
          margin: 0rem 12.93rem 2.2rem 12.93rem;
          width: calc(100% - 25.8604rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .logo-NgX {
            width: 3.6582rem;
            height: 5.3716rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8209rem;
          }
          .auto-group-b6fp-tes {
            margin-top: 0.5357rem;
            width: 22.0604rem;
            height: 8.0643rem;
            position: relative;
            flex-shrink: 0;

            .farmers-PLj {
              line-height: 1.185;
              font-family: Rubik Wet Paint, 'Source Sans Pro';
              left: 0;
              font-size: 4rem;
              font-weight: 400;
              top: 0;
              color: #ffffff;
              white-space: nowrap;
              width: 17.8rem;
              height: 4.8rem;
              position: absolute;
            }
            .hub-HBD {
              top: 3.2643rem;
              font-size: 4rem;
              font-weight: 400;
              line-height: 1.185;
              color: #ffffff;
              font-family: Rubik Wet Paint, 'Source Sans Pro';
              width: 8.5rem;
              position: absolute;
              left: 13.5604rem;
              white-space: nowrap;
              height: 4.8rem;
            }
          }
        }
        .content-aRD {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .we-provide-specialized-winterization-services-to-safeguard-your-pool-during-the-off-season-and-when-spring-arrives-we-handle-the-thorough-opening-process-j3D {
            margin-bottom: 5rem;
            max-width: 52.4rem;
            font-weight: 600;
            line-height: 1.6539999644;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .follow-Znw {
            margin: 0 11.95rem;
            width: calc(100% - 23.9rem);
            height: 6rem;
            display: flex;
            column-gap: 1.5rem;
            align-items: center;
            flex-shrink: 0;

            .item-1-62B {
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.1rem 2.072rem 2.043rem 2rem;

              .insta-R4T {
                width: 1.9283rem;
                height: 1.8569rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-2-7CB {
              padding: 2.1rem 2.072rem 2.054rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;

              .fb-RyZ {
                object-fit: contain;
                vertical-align: top;
                width: 1.9283rem;
                height: 1.8457rem;
              }
            }
            .item-3-MsD {
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.2rem 1.934rem 2.147rem 2rem;
              height: 100%;

              .twiter-JGf {
                height: 1.6528rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.066rem;
              }
            }
            .item-4-2TZ {
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2rem 2.041rem 2.041rem 2rem;
              height: 100%;
              background-color: #eff6f1;

              .pintrest-xc7 {
                width: 1.9589rem;
                height: 1.9589rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
      .line-sUB {
        margin-right: 4.6rem;
        width: 0rem;
        height: 0.1rem;
        background-color: #d4d4d4;
        flex-shrink: 0;
      }
      .utility-pages-Qj1 {
        margin-top: 3.2rem;
        width: 23.35rem;
        flex-shrink: 0;

        .quick-links-xEj {
          text-align: center;
          justify-content: center;
          line-height: 1.185;
          color: #ffffff;
          font-family: Rubik, 'Source Sans Pro';
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          font-size: 3.2rem;
          font-weight: 700;
          white-space: nowrap;
        }
        .about-us-services-shop-blog-team-rL7 {
          line-height: 2.7290000916;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 8.2rem;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
    }
    .copyright-8oR {
      font-size: 1.8rem;
      color: #515b5f;
      border-top: solid 0.1rem #d4d4d4;
      width: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      padding: 1.7rem 72.15rem 0rem 72.15rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.6540000704;
      align-items: baseline;

      .copyright-8oR-sub-0 {
      }
      .copyright-8oR-sub-1 {
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
      }
      .copyright-8oR-sub-2 {
      }
      .copyright-8oR-sub-3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .copyright-8oR-sub-4 {
      }
      .copyright-8oR-sub-5 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
  }
}
