
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.contact-Rod {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-ifrv-8CF {
    width: 100%;
    height: 65.4rem;
    position: relative;
    flex-shrink: 0;

    .image-TEX {
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 192rem;
      height: 45rem;
      position: absolute;
      top: 20.4rem;
      background-color: #f9f9f9;
      background-image: url('REPLACE_IMAGE:2:10888');

      .patterns-NsH {
        object-fit: contain;
        vertical-align: top;
        width: 192rem;
        height: 45rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .contact-us-K1q {
        width: 34.6rem;
        top: 18.4rem;
        font-size: 7rem;
        line-height: 1.1725;
        color: #274c5b;
        white-space: nowrap;
        height: 8.3rem;
        position: absolute;
        left: 79.2rem;
        font-weight: 800;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .header-x4o {
      padding: 6.9rem 16.2rem 6.8rem 16.2rem;
      width: 191.9791rem;
      height: 21.9929rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(1, 125, 3, 0.8999999762);
      box-sizing: border-box;

      .header-G5V {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .item-1-RDH {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 6.2791rem;

          .logo-Z4b {
            margin-right: 15rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .logo-tsZ {
              flex-shrink: 0;
              margin: 0.414rem 1.142rem 0rem 0rem;
              width: 3.6582rem;
              height: 5.3716rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-ksbs-ozX {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              width: 21.7rem;

              .hubs-x6j {
                left: 13.2rem;
                top: 3.4929rem;
                font-size: 4rem;
                color: #ffa858;
                width: 8.5rem;
                height: 4.8rem;
                position: absolute;
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.185;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
              }
              .farmers-3ts {
                width: 17.8rem;
                height: 4.8rem;
                position: absolute;
                left: 0;
                font-size: 4rem;
                top: 0;
                font-weight: 400;
                line-height: 1.185;
                color: #ffffff;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .menu-koH {
            position: relative;
            flex-shrink: 0;
            margin: 2.6964rem 0;
            width: 67.6rem;
            height: calc(100% - 5.3929rem);

            .home-about-pages-shop-projects-news-VVy {
              left: 0;
              font-weight: 700;
              white-space: nowrap;
              font-size: 2.4rem;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              width: 67.6rem;
              height: 2.9rem;
              position: absolute;
              top: 0;
            }
            .icon-PrF {
              object-fit: contain;
              vertical-align: top;
              width: 0.6rem;
              height: 0.3rem;
              position: absolute;
              left: 25.8rem;
              top: 1.1rem;
            }
          }
        }
        .item-2-KE7 {
          margin: 0.796rem 0rem 0.896rem 0rem;
          height: calc(100% - 1.6929rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .search-EM5 {
            height: 100%;
            background-color: #f9f9f9;
            border-radius: 3.6rem;
            flex-shrink: 0;
            margin-right: 1.8rem;
            box-sizing: border-box;
            padding: 0.496rem 0.621rem 0.504rem 20.279rem;
            width: 26.5rem;

            .search-icon-Tjd {
              height: 100%;
              background-color: #7db593;
              border-radius: 2.8rem;
              box-sizing: border-box;
              padding: 1.7rem 1.6rem 1.8rem 1.9rem;
              width: 100%;

              .vector-zUf {
                vertical-align: top;
                width: 2.1rem;
                height: 2.1rem;
                object-fit: contain;
              }
            }
          }
          .cart-hts {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 2.3rem 0.5rem 0.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e0e0e0;
            border-radius: 3.3rem;

            .cart-icon-S5m {
              margin-right: 1.2rem;
              box-sizing: border-box;
              padding: 1.7rem 1.747rem 1.7rem 1.5rem;
              height: 100%;
              background-color: #274c5b;
              border-radius: 2.8rem;
              flex-shrink: 0;

              .icon-ZgB {
                vertical-align: top;
                width: 2.3533rem;
                height: 2.2rem;
                position: relative;
                object-fit: contain;
              }
            }
            .cart-0-VZq {
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.1725;
            }
          }
        }
      }
    }
  }
  .auto-group-thro-YHD {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20.7rem 0rem 7.7rem 2.3rem;
    width: 100%;

    .item-01-rHu {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 34rem 10rem 16.1rem;
      width: calc(100% - 50.1rem);
      height: 64rem;

      .image-MVZ {
        height: 64rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7.5rem;
        width: 62.3rem;
      }
      .content-6CF {
        flex-shrink: 0;
        margin: 2.35rem 0;
        width: 69.8rem;
        height: calc(100% - 4.7rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .content-25u {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .wed-love-to-talk-about-how-we-can-work-together-NvT {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            max-width: 69.8rem;
            font-size: 5rem;
            font-weight: 800;
            line-height: 1.1725;
            color: #274c5b;
          }
          .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-had-ceased-to-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-UyV {
            max-width: 68.7rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6540000704;
            color: #515b5f;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-ubuh-LF1 {
          box-sizing: border-box;
          padding-top: 3.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .points-rz3 {
            margin-bottom: 3.4rem;
            width: 35.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item-01-CY7 {
              box-sizing: border-box;
              padding: 1.1rem 3rem 1.3rem 1.2rem;
              width: 100%;
              border: solid 0.1rem #eeeeee;
              border-radius: 1.6rem;
              flex-shrink: 0;
              margin-bottom: 1.7rem;
              height: 11.3rem;
              display: flex;
              align-items: center;
              background-color: #ffffff;

              .icon-hzf {
                margin-right: 1.9rem;
                box-sizing: border-box;
                padding: 2.6rem 2.1rem 2.7rem 2.2rem;
                height: 100%;
                background-color: #f4f4f4;
                border-radius: 1.1rem;
                flex-shrink: 0;

                .group-15-SST {
                  height: 3.6rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  width: 4.6rem;
                }
              }
              .item-1-MZR {
                flex-shrink: 0;
                margin: 1.6rem 0rem 1.8rem 0rem;
                width: 20.2rem;
                height: calc(100% - 3.4rem);
                position: relative;

                .massege-Ue3 {
                  width: 10.3rem;
                  left: 0;
                  top: 0;
                  line-height: 1.1725;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 3rem;
                  position: absolute;
                  font-size: 2.5rem;
                  font-weight: 800;
                  color: #274c5b;
                }
                .farmershubgmailcom-nej {
                  font-weight: 400;
                  line-height: 1.6540000704;
                  font-family: Open Sans, 'Source Sans Pro';
                  height: 3rem;
                  position: absolute;
                  left: 0;
                  top: 2.5rem;
                  font-size: 1.8rem;
                  white-space: nowrap;
                  width: 20.2rem;
                  color: #515b5f;
                }
              }
            }
            .btn-EFq {
              box-sizing: border-box;
              display: flex;
              background-color: #ffffff;
              box-shadow: 0 1.2rem 1.9rem rgba(200, 200, 200, 0.25);
              flex-shrink: 0;
              padding: 1.2rem 10.8rem 1.2rem 1.2rem;
              width: 100%;
              height: 11.3rem;
              align-items: center;
              border: solid 0.1rem #eeeeee;
              border-radius: 1.6rem;

              .iocn-Z3D {
                padding: 2.3rem 1.9rem 1.7rem 2.2rem;
                height: 100%;
                background-color: #f4f4f4;
                border-radius: 1.1rem;
                flex-shrink: 0;
                margin-right: 1.9rem;
                box-sizing: border-box;

                .group-16-VBm {
                  width: 4.8rem;
                  height: 4.9rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .item-2-oiF {
                position: relative;
                flex-shrink: 0;
                margin: 1.6rem 0rem 1.5rem 0rem;
                width: 12.4rem;
                height: calc(100% - 3.1rem);

                .contact-us-Xu9 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 12.4rem;
                  top: 0;
                  font-size: 2.5rem;
                  line-height: 1.1725;
                  color: #274c5b;
                  height: 3rem;
                  position: absolute;
                  left: 0;
                  font-weight: 800;
                }
                .item-9006622732-FaF {
                  left: 0;
                  font-weight: 400;
                  line-height: 1.6540000704;
                  color: #515b5f;
                  font-family: Open Sans, 'Source Sans Pro';
                  width: 10.3rem;
                  height: 3rem;
                  position: absolute;
                  top: 2.8rem;
                  font-size: 1.8rem;
                  white-space: nowrap;
                }
              }
            }
          }
          .follow-gQf {
            height: 6rem;
            display: flex;
            column-gap: 1.5rem;
            align-items: center;
            flex-shrink: 0;

            .item-1-pWs {
              box-sizing: border-box;
              padding: 2.1rem 2.072rem 2.043rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;

              .insta-MWo {
                vertical-align: top;
                width: 1.9283rem;
                height: 1.8569rem;
                object-fit: contain;
              }
            }
            .item-2-HfM {
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.1rem 2.072rem 2.054rem 2rem;
              height: 100%;
              background-color: #eff6f1;

              .fb-pvB {
                width: 1.9283rem;
                height: 1.8457rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-3-m4j {
              box-sizing: border-box;
              padding: 2.2rem 1.934rem 2.147rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;

              .twiter-tv3 {
                width: 2.066rem;
                height: 1.6528rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-4-p31 {
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2rem 2.041rem 2.041rem 2rem;

              .vector-Yzb {
                width: 1.9589rem;
                height: 1.9589rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .item-02-Gvb {
      background-position: center;
      background-image: url('REPLACE_IMAGE:2:10815');
      margin: 0rem 26rem 8.4rem 23.7rem;
      box-sizing: border-box;
      padding: 12.2rem 10.8rem 18.2rem 77.8rem;
      width: calc(100% - 49.7rem);
      height: 75.8rem;
      background-size: cover;
      background-repeat: no-repeat;
      flex-shrink: 0;

      .loaction-y4K {
        padding: 4.6rem 5.7rem 4.6rem 5.3rem;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 3rem;
        box-sizing: border-box;

        .content-W4F {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .content-rto {
            margin-bottom: 1.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-RBD {
              margin-bottom: 1rem;
              width: 23.4rem;
              height: 10.1rem;
              position: relative;
              flex-shrink: 0;

              .our-farms-A8o {
                top: 4.2rem;
                line-height: 1.1725;
                color: #274c5b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                height: 5.9rem;
                position: absolute;
                font-size: 5rem;
                font-weight: 800;
                width: 23.4rem;
                left: 0;
              }
              .location-GBq {
                font-family: Yellowtail, 'Source Sans Pro';
                width: 11rem;
                height: 5rem;
                left: 0.5rem;
                top: 0;
                text-align: center;
                font-size: 3.6rem;
                position: absolute;
                font-weight: 400;
                line-height: 1.365;
                color: #7db593;
                white-space: nowrap;
              }
            }
            .established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-a-layout-the-point-of-using-Ao1 {
              color: #515b5f;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 40.4rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6540000704;
            }
          }
          .address-3bu {
            width: 24.2rem;
            height: 14.2rem;
            position: relative;
            flex-shrink: 0;

            .item-1-CUo {
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              align-items: flex-start;
              width: 20.5rem;
              height: 9rem;

              .location-8tF {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.6rem;
                width: 5rem;
                height: 5rem;
              }
              .gaya-bihar-sherghati824211-TvX {
                max-width: 14.9rem;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.6540000704;
                color: #515b5f;
                font-family: Open Sans, 'Source Sans Pro';
                flex-shrink: 0;

                .gaya-bihar-sherghati824211-TvX-sub-0 {
                }
                .gaya-bihar-sherghati824211-TvX-sub-1 {
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 1.6540000704;
                  color: #515b5f;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
            }
            .item-2-8vB {
              width: 24.2rem;
              height: 6rem;
              position: absolute;
              left: 0;
              top: 8.2rem;
              display: flex;
              align-items: flex-start;

              .location-gB1 {
                flex-shrink: 0;
                margin-right: 0.7rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .chandigarh-punjab-palampur-824515-Qsh {
                max-width: 18.7rem;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.6540000704;
                color: #515b5f;
                font-family: Open Sans, 'Source Sans Pro';
                flex-shrink: 0;

                .chandigarh-punjab-palampur-824515-Qsh-sub-0 {
                }
                .chandigarh-punjab-palampur-824515-Qsh-sub-1 {
                  color: #515b5f;
                  font-family: Open Sans, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 1.6540000704;
                }
                .chandigarh-punjab-palampur-824515-Qsh-sub-2 {
                }
              }
            }
          }
        }
      }
    }
    .email-form-Les {
      width: calc(100% - 71.3rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 46.4rem 11.6rem 24.9rem;

      .form-FWw {
        flex-shrink: 0;
        margin-bottom: 6rem;
        width: 100%;
        row-gap: 5rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .item-1-ap7 {
          flex-shrink: 0;
          width: 100%;
          height: 12.7rem;
          display: flex;
          align-items: center;

          .full-name-XjM {
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 56.9rem;
            height: 100%;
            border-radius: 1.6rem;

            .full-name-soD {
              white-space: nowrap;
              margin-bottom: 2.5rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
            }
            .item-1-cVu {
              padding: 2.8rem 2.3rem 3rem 2.3rem;
              width: 100%;
              line-height: 1.1725;
              border: solid 0.1rem #7db593;
              border-radius: 1.6rem;
              white-space: nowrap;
              background-color: #ffffff;
              box-sizing: border-box;
              font-size: 1.8rem;
              font-weight: 400;
              font-style: italic;
              color: #ababab;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .mail-rQF {
            height: 100%;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 56.9rem;

            .your-email-oKV {
              white-space: nowrap;
              margin-bottom: 2.5rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
            }
            .auto-group-f7c1-LKR {
              color: #ababab;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #7db593;
              box-sizing: border-box;
              width: 100%;
              line-height: 1.1725;
              font-style: italic;
              border-radius: 1.6rem;
              padding: 2.8rem 2.3rem 3rem 2.3rem;
              font-size: 1.8rem;
              font-weight: 400;
              background-color: #ffffff;
            }
          }
        }
        .item-2-z95 {
          height: 12.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .company-LTq {
            margin-right: 4.6rem;
            width: 56.9rem;
            height: 100%;
            border-radius: 1.6rem;
            flex-shrink: 0;

            .company-HP5 {
              margin-bottom: 2.5rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-zdf3-REP {
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 2.8rem 2.3rem 3rem 2.3rem;
              width: 100%;
              font-size: 1.8rem;
              font-weight: 400;
              border: solid 0.1rem #7db593;
              line-height: 1.1725;
              font-style: italic;
              color: #ababab;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 1.6rem;
            }
          }
          .subject-Tgs {
            width: 56.9rem;
            height: 100%;
            border-radius: 1.6rem;
            flex-shrink: 0;

            .subject-DR9 {
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.5rem;
            }
            .auto-group-zlqt-x7q {
              font-style: italic;
              color: #ababab;
              white-space: nowrap;
              border: solid 0.1rem #7db593;
              background-color: #ffffff;
              border-radius: 1.6rem;
              width: 100%;
              padding: 2.8rem 2.3rem 3rem 2.3rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              box-sizing: border-box;
            }
          }
        }
        .item-3-o8T {
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .message-YLw {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #274c5b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
          }
          .auto-group-tsqp-gCF {
            border: solid 0.1rem #7db593;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.8rem;
            font-style: italic;
            font-family: Roboto, 'Source Sans Pro';
            padding: 2.8rem 2.3rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ababab;
            background-color: #ffffff;
            height: 24.7rem;
            white-space: nowrap;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
        }
      }
      .button-Km1 {
        width: 22rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        white-space: nowrap;
        align-items: center;
        background-color: #017d03;
        flex-shrink: 0;
        height: 8rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1725;
        border-radius: 1.6rem;
      }
    }
    .image-183 {
      background-repeat: no-repeat;
      margin: 0rem 26rem 14.4rem 23.7rem;
      padding: 10.5rem 7.1rem 10rem 7.1rem;
      width: calc(100% - 49.7rem);
      height: 32.3rem;
      background-color: #37b5de;
      border-radius: 3rem;
      background-size: cover;
      background-position: center;
      flex-shrink: 0;
      box-sizing: border-box;
      background-image: url('REPLACE_IMAGE:BUAkRxkXc2mh63iY7JMnUM');

      .content-txX {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .subscribe-to-our-newsletter-TEw {
          margin-right: 35.1rem;
          max-width: 33.2rem;
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .button-xhV {
          margin: 1.65rem 0rem 2.15rem 0rem;
          height: calc(100% - 3.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .mail-tr3 {
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 34.9rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #ababab;
            margin-right: 0.6rem;
            background-color: #ffffff;
            padding: 2.8rem 2.3rem 3rem 2.3rem;
            height: 100%;
            line-height: 1.1725;
            font-style: italic;
            font-family: Roboto, 'Source Sans Pro';
            border-radius: 1.6rem;
          }
          .button-wZR {
            line-height: 1.1725;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 22rem;
            color: #ffffff;
            border-radius: 1.6rem;
            height: 100%;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2rem;
            background-color: #017d03;
          }
        }
      }
    }
    .footer-b8B {
      flex-shrink: 0;
      width: 192rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #002d00;

      .auto-group-cpeq-whq {
        margin: 0rem 36.35rem 5.2rem 31.1rem;
        width: calc(100% - 67.45rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .contact-us-TgB {
          margin: 3.75rem 6.3rem 0rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .contact-us-niT {
            align-items: baseline;
            justify-content: center;
            font-size: 3.2rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Rubik One, 'Source Sans Pro';
            display: flex;
            line-height: 1.2575;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.75rem 1.7rem;

            .contact-us-niT-sub-0 {
              font-family: Rubik, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 1.185;
              color: #ffffff;
            }
            .contact-us-niT-sub-1 {
            }
            .contact-us-niT-sub-2 {
              font-weight: 700;
              line-height: 1.185;
              color: #ffffff;
              font-family: Rubik, 'Source Sans Pro';
              font-size: 3.2rem;
            }
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B {
            max-width: 26.8rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;

            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-0 {
              line-height: 1.6499999364;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
            }
            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-1 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.6499999364;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-2 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6499999364;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-3 {
              font-weight: 700;
              line-height: 1.6499999364;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.8rem;
            }
            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-4 {
              font-weight: 700;
              line-height: 1.6499999364;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.8rem;
            }
            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-5 {
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6499999364;
              color: #ffffff;
            }
            .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-W2B-sub-6 {
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.6499999364;
              color: #ffffff;
            }
          }
        }
        .line-Dm9 {
          margin-right: 5.55rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #d4d4d4;
          flex-shrink: 0;
        }
        .about-ZKD {
          margin-right: 5.55rem;
          width: 52.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .logo-u8B {
            margin: 0rem 12.93rem 2.2rem 12.93rem;
            width: calc(100% - 25.8604rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .logo-ERM {
              flex-shrink: 0;
              margin-right: 0.8209rem;
              width: 3.6582rem;
              height: 5.3716rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-f1zd-LzB {
              height: 8.0643rem;
              position: relative;
              flex-shrink: 0;
              margin-top: 0.5357rem;
              width: 22.0604rem;

              .farmers-Gcw {
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                font-weight: 400;
                left: 0;
                top: 0;
                font-size: 4rem;
                line-height: 1.185;
                color: #ffffff;
                width: 17.8rem;
                height: 4.8rem;
              }
              .hub-z39 {
                line-height: 1.185;
                color: #ffffff;
                white-space: nowrap;
                height: 4.8rem;
                left: 13.5604rem;
                font-weight: 400;
                font-size: 4rem;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                width: 8.5rem;
                position: absolute;
                top: 3.2643rem;
              }
            }
          }
          .content-UU7 {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .we-provide-specialized-winterization-services-to-safeguard-your-pool-during-the-off-season-and-when-spring-arrives-we-handle-the-thorough-opening-process-q3m {
              font-weight: 600;
              line-height: 1.6539999644;
              color: #ffffff;
              margin-bottom: 5rem;
              max-width: 52.4rem;
              text-align: center;
              font-size: 2.4rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .follow-t23 {
              height: 6rem;
              display: flex;
              column-gap: 1.5rem;
              align-items: center;
              flex-shrink: 0;
              margin: 0 11.95rem;
              width: calc(100% - 23.9rem);

              .item-1-bh9 {
                height: 100%;
                background-color: #eff6f1;
                border-radius: 3rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 2.1rem 2.072rem 2.043rem 2rem;

                .insta-jHZ {
                  height: 1.8569rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.9283rem;
                }
              }
              .item-2-rd5 {
                box-sizing: border-box;
                padding: 2.1rem 2.072rem 2.054rem 2rem;
                height: 100%;
                background-color: #eff6f1;
                border-radius: 3rem;
                flex-shrink: 0;

                .fb-Pd1 {
                  width: 1.9283rem;
                  height: 1.8457rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .item-3-KWf {
                background-color: #eff6f1;
                border-radius: 3rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 2.2rem 1.934rem 2.147rem 2rem;
                height: 100%;

                .twiter-eoq {
                  width: 2.066rem;
                  height: 1.6528rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .item-4-nf9 {
                background-color: #eff6f1;
                border-radius: 3rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 2rem 2.041rem 2.041rem 2rem;
                height: 100%;

                .pintrest-8U7 {
                  width: 1.9589rem;
                  height: 1.9589rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
        }
        .line-Szb {
          margin-right: 4.6rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #d4d4d4;
          flex-shrink: 0;
        }
        .utility-pages-zWK {
          margin-top: 3.2rem;
          width: 23.35rem;
          flex-shrink: 0;

          .quick-links-jio {
            text-align: center;
            justify-content: center;
            line-height: 1.185;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            font-size: 3.2rem;
            font-weight: 700;
          }
          .about-us-services-shop-blog-team-Fx3 {
            font-weight: 700;
            line-height: 2.7290000916;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            max-width: 8.2rem;
            font-size: 1.8rem;
          }
        }
      }
      .copyright-NWs {
        box-sizing: border-box;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        padding: 1.7rem 72.15rem 0rem 72.15rem;
        width: 100%;
        font-size: 1.8rem;
        color: #515b5f;
        border-top: solid 0.1rem #d4d4d4;
        text-align: center;
        font-weight: 400;
        line-height: 1.6540000704;
        flex-shrink: 0;

        .copyright-NWs-sub-0 {
        }
        .copyright-NWs-sub-1 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6540000704;
          color: #515b5f;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .copyright-NWs-sub-2 {
        }
        .copyright-NWs-sub-3 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6540000704;
          color: #515b5f;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .copyright-NWs-sub-4 {
        }
        .copyright-NWs-sub-5 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6540000704;
          color: #515b5f;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
  }
}
