
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.team-Jyd {
  padding-bottom: 2.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background-color: #ffffff;

  .auto-group-vbsb-Qmm {
    width: 100%;
    height: 65.4rem;
    position: relative;
    flex-shrink: 0;

    .background-9jM {
      background-position: center;
      left: 0;
      line-height: 1.1725;
      background-repeat: no-repeat;
      align-items: center;
      justify-content: center;
      height: 45rem;
      position: absolute;
      top: 20.4rem;
      width: 192rem;
      white-space: nowrap;
      background-color: #f9f9f9;
      font-family: Roboto, 'Source Sans Pro';
      display: flex;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:2:11714');
      font-size: 7rem;
      font-weight: 800;
      color: #274c5b;
    }
    .header-aJs {
      box-sizing: border-box;
      padding: 6.9rem 16.2rem 6.8rem 16.2rem;
      width: 191.9791rem;
      height: 21.9929rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(1, 125, 3, 0.8999999762);

      .header-HUB {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .item-1-dY3 {
          margin-right: 6.2791rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-ybu {
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 15rem;

            .logo-Kfm {
              flex-shrink: 0;
              margin: 0.414rem 1.142rem 0rem 0rem;
              width: 3.6582rem;
              height: 5.3716rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-lmvp-Rio {
              position: relative;
              flex-shrink: 0;
              width: 21.7rem;
              height: 100%;

              .hubs-n3Z {
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                left: 13.2rem;
                font-size: 4rem;
                font-weight: 400;
                color: #ffa858;
                line-height: 1.185;
                white-space: nowrap;
                width: 8.5rem;
                height: 4.8rem;
                position: absolute;
                top: 3.4929rem;
              }
              .farmers-sKu {
                color: #ffffff;
                font-family: Rubik Wet Paint, 'Source Sans Pro';
                width: 17.8rem;
                height: 4.8rem;
                position: absolute;
                top: 0;
                font-size: 4rem;
                font-weight: 400;
                white-space: nowrap;
                left: 0;
                line-height: 1.185;
              }
            }
          }
          .menu-AK1 {
            margin: 2.6964rem 0;
            width: 67.6rem;
            height: calc(100% - 5.3929rem);
            position: relative;
            flex-shrink: 0;

            .home-about-pages-shop-projects-news-6iT {
              height: 2.9rem;
              position: absolute;
              top: 0;
              font-size: 2.4rem;
              font-weight: 700;
              white-space: nowrap;
              width: 67.6rem;
              left: 0;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
            }
            .icon-Bju {
              vertical-align: top;
              width: 0.6rem;
              height: 0.3rem;
              position: absolute;
              left: 25.8rem;
              top: 1.1rem;
              object-fit: contain;
            }
          }
        }
        .item-2-uR1 {
          margin: 0.796rem 0rem 0.896rem 0rem;
          height: calc(100% - 1.6929rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .search-ETH {
            border-radius: 3.6rem;
            flex-shrink: 0;
            margin-right: 1.8rem;
            box-sizing: border-box;
            padding: 0.496rem 0.621rem 0.504rem 20.279rem;
            width: 26.5rem;
            height: 100%;
            background-color: #f9f9f9;

            .search-icon-MH1 {
              width: 100%;
              height: 100%;
              background-color: #7db593;
              border-radius: 2.8rem;
              box-sizing: border-box;
              padding: 1.7rem 1.6rem 1.8rem 1.9rem;

              .vector-5yh {
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.1rem;
              }
            }
          }
          .cart-PDh {
            align-items: center;
            border: solid 0.1rem #e0e0e0;
            border-radius: 3.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 2.3rem 0.5rem 0.6rem;
            height: 100%;
            display: flex;

            .cart-icon-i15 {
              height: 100%;
              background-color: #274c5b;
              border-radius: 2.8rem;
              flex-shrink: 0;
              margin-right: 1.2rem;
              box-sizing: border-box;
              padding: 1.7rem 1.747rem 1.7rem 1.5rem;

              .icon-3JF {
                width: 2.3533rem;
                height: 2.2rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .cart-0-wuR {
              font-weight: 600;
              line-height: 1.1725;
              color: #274c5b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
  .auto-group-zpgy-Dc3 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15rem 25.9rem 12rem 26rem;

    .team-Lgf {
      width: 100%;
      row-gap: 4.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 12rem;

      .text-gkX {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0 27.5rem;
        width: calc(100% - 55rem);

        .heading-Ry1 {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 20.05rem 1.6rem 19.85rem;
          width: calc(100% - 39.9rem);
          height: 10.8rem;

          .team-wRZ {
            font-family: Yellowtail, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.9rem;
            left: 19.25rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.365;
            color: #7db593;
            height: 5rem;
            position: absolute;
            top: 0;
          }
          .our-organic-experts-e55 {
            height: 5.9rem;
            left: 0;
            font-size: 5rem;
            color: #274c5b;
            width: 45.2rem;
            position: absolute;
            top: 4.9rem;
            font-weight: 800;
            line-height: 1.1725;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-had-ceased-to-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-LyV {
          max-width: 85.1rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6540000704;
          color: #515b5f;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .content-aN3 {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 61.5rem;
        display: flex;
        column-gap: 2.7rem;

        .item-1-vB1 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 44.9rem;
          height: 100%;

          .image-4Y7 {
            vertical-align: top;
            flex-shrink: 0;
            width: 44.9rem;
            height: 48.5rem;
            position: relative;
            object-fit: contain;
          }
          .content-oEo {
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
            padding: 3.5rem 2.874rem 3.3rem 2.8rem;
            width: 100%;
            height: 13rem;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:2:11609');
            flex-shrink: 0;

            .details-isZ {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;

              .name-5i7 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 14.5rem;
                height: 100%;

                .giovani-bacardo-S2s {
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 800;
                  line-height: 1.1725;
                }
                .farmer-9xs {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.365;
                  color: #7db593;
                  font-family: Yellowtail, 'Source Sans Pro';
                }
              }
              .follow-tfZ {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-top: 3.8626rem;

                .fb-ePq {
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  width: 2.2331rem;
                  height: 2.1374rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .twiter-nW3 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0rem;
                  width: 2.3926rem;
                  height: 1.914rem;
                }
              }
            }
          }
        }
        .item-2-tJB {
          width: 44.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-Ecw {
            height: 48.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 44.9rem;
          }
          .content-ago {
            width: 100%;
            background-image: url('REPLACE_IMAGE:2:11624');
            flex-shrink: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
            padding: 3.5rem 2.874rem 3.3rem 2.8rem;
            height: 13rem;

            .details-7Aw {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;

              .name-G3q {
                margin-right: 9.867rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .marianne-loreno-DDy {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                }
                .designer-jTD {
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.365;
                  color: #7db593;
                  font-family: Yellowtail, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .follow-51H {
                flex-shrink: 0;
                margin-top: 3.8497rem;
                display: flex;
                column-gap: 1.7rem;
                align-items: center;

                .insta-QpF {
                  width: 2.2331rem;
                  height: 2.1503rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .fb-xKy {
                  margin-top: 0rem;
                  width: 2.2331rem;
                  height: 2.1374rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .twiter-tjR {
                  margin-top: 0rem;
                  width: 2.3926rem;
                  height: 1.914rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .item-3-p7H {
          width: 44.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-wBu {
            width: 44.9rem;
            height: 48.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .content-USj {
            width: 100%;
            height: 13rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:2:11642');
            box-sizing: border-box;
            padding: 3.5rem 2.7rem 3.3rem 2.8rem;
            background-size: cover;
            background-position: center;
            flex-shrink: 0;

            .details-oV1 {
              display: flex;
              align-items: flex-end;
              width: 100%;
              height: 100%;

              .name-mAw {
                flex-shrink: 0;
                margin-right: 16.1413rem;
                height: 100%;
                display: flex;
                flex-direction: column;

                .riga-pelore-WPR {
                  flex-shrink: 0;
                  margin-bottom: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .farmer-eEj {
                  color: #7db593;
                  font-family: Yellowtail, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.365;
                }
              }
              .follow-BVZ {
                margin-top: 3.8497rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .insta-vxw {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.7001rem;
                  width: 2.2331rem;
                  height: 2.1503rem;
                }
                .fb-UDm {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.7rem 0rem 0rem;
                  width: 2.2331rem;
                  height: 2.1374rem;
                }
                .twiter-bZH {
                  width: 2.3926rem;
                  height: 1.914rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0rem;
                }
              }
            }
          }
        }
      }
      .content-uZy {
        display: flex;
        column-gap: 2.7rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 61.5rem;

        .item-1-rEK {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 44.9rem;
          height: 100%;
          align-items: center;

          .image-QFq {
            vertical-align: top;
            flex-shrink: 0;
            width: 44.9rem;
            height: 48.5rem;
            position: relative;
            object-fit: contain;
          }
          .content-9UK {
            padding: 3.5rem 2.874rem 3.3rem 2.8rem;
            width: 100%;
            height: 13rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:2:11661');
            box-sizing: border-box;
            background-position: center;
            flex-shrink: 0;

            .details-UmV {
              height: 100%;
              display: flex;
              align-items: flex-end;
              width: 100%;

              .name-qc3 {
                margin-right: 15.9rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .keira-knightley-yy9 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                }
                .farmer-iQw {
                  font-family: Yellowtail, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.365;
                  color: #7db593;
                }
              }
              .follow-TNX {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-top: 3.8626rem;

                .fb-DMh {
                  height: 2.1374rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  width: 2.2331rem;
                }
                .twiter-Myh {
                  margin-top: 0rem;
                  width: 2.3926rem;
                  height: 1.914rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .item-2-HcT {
          width: 44.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-2pw {
            width: 44.9rem;
            height: 48.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .content-Nto {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:2:11676');
            box-sizing: border-box;
            padding: 3.5rem 2.874rem 3.3rem 2.8rem;
            width: 100%;
            height: 13rem;
            background-position: center;
            flex-shrink: 0;

            .details-K3M {
              display: flex;
              align-items: flex-end;
              width: 100%;
              height: 100%;

              .name-US3 {
                margin-right: 11.567rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .scott-lawrence-EAK {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                }
                .designer-Mkj {
                  flex-shrink: 0;
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.365;
                  color: #7db593;
                  font-family: Yellowtail, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .follow-tEs {
                margin-top: 3.8497rem;
                display: flex;
                column-gap: 1.7rem;
                align-items: center;
                flex-shrink: 0;

                .insta-diF {
                  height: 2.1503rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2.2331rem;
                }
                .fb-NQw {
                  margin-bottom: 0rem;
                  width: 2.2331rem;
                  height: 2.1374rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .twiter-iUo {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 2.3926rem;
                  height: 1.914rem;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .item-3-qJX {
          width: 44.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-zBR {
            width: 44.9rem;
            height: 48.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .content-KjV {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
            height: 13rem;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:2:11694');
            flex-shrink: 0;
            padding: 3.5rem 2.7rem 3.3rem 2.8rem;

            .details-FNF {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;

              .name-1cK {
                margin-right: 16.1413rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .karen-allen-mLb {
                  margin-bottom: 0.1rem;
                  font-size: 2.5rem;
                  font-weight: 800;
                  line-height: 1.1725;
                  color: #274c5b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .farmer-hEF {
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.365;
                  color: #7db593;
                  font-family: Yellowtail, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .follow-3J7 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-top: 3.8497rem;

                .insta-nmV {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.7001rem;
                  width: 2.2331rem;
                  height: 2.1503rem;
                  object-fit: contain;
                }
                .fb-Xyy {
                  margin: 0rem 1.7rem 0rem 0rem;
                  width: 2.2331rem;
                  height: 2.1374rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .twiter-faP {
                  margin-bottom: 0rem;
                  width: 2.3926rem;
                  height: 1.914rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
    }
    .image-An3 {
      background-image: url('REPLACE_IMAGE:BUAmavpwkyQY7yirLmUfyP');
      margin-right: 0.1rem;
      box-sizing: border-box;
      padding: 10.5rem 7.1rem 10rem 7.1rem;
      height: 32.3rem;
      background-color: #37b5de;
      border-radius: 3rem;
      background-size: cover;
      flex-shrink: 0;
      width: 140rem;
      background-repeat: no-repeat;
      background-position: center;

      .content-gkP {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .subscribe-to-our-newsletter-r95 {
          flex-shrink: 0;
          margin-right: 35.1rem;
          max-width: 33.2rem;
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .button-mWw {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1.65rem 0rem 2.15rem 0rem;
          height: calc(100% - 3.8rem);

          .mail-6p7 {
            padding: 2.8rem 2.3rem 3rem 2.3rem;
            height: 100%;
            font-size: 1.8rem;
            line-height: 1.1725;
            width: 34.9rem;
            font-style: italic;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            font-weight: 400;
            color: #ababab;
            border-radius: 1.6rem;
            flex-shrink: 0;
            margin-right: 0.6rem;
            background-color: #ffffff;
          }
          .button-xLX {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.6rem;
            width: 22rem;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            white-space: nowrap;
            background-color: #017d03;
            height: 100%;
          }
        }
      }
    }
  }
  .footer-o6F {
    display: flex;
    flex-direction: column;
    background-color: #002d00;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-d97j-9vo {
      width: calc(100% - 67.45rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 36.35rem 5.2rem 31.1rem;

      .contact-us-UCP {
        margin: 3.75rem 6.3rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-us-P4T {
          display: flex;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.75rem 1.7rem;
          align-items: baseline;
          justify-content: center;
          font-family: Rubik One, 'Source Sans Pro';

          .contact-us-P4T-sub-0 {
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.185;
          }
          .contact-us-P4T-sub-1 {
          }
          .contact-us-P4T-sub-2 {
            font-family: Rubik, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.185;
            color: #ffffff;
          }
        }
        .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o {
          flex-shrink: 0;
          max-width: 26.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6499999364;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';

          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-0 {
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-1 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-2 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-3 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-4 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-5 {
            font-weight: 400;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.8rem;
          }
          .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-e8o-sub-6 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6499999364;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
      }
      .line-jNX {
        background-color: #d4d4d4;
        flex-shrink: 0;
        margin-right: 5.55rem;
        width: 0rem;
        height: 0.1rem;
      }
      .about-rCF {
        flex-shrink: 0;
        margin-right: 5.55rem;
        width: 52.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .logo-n5u {
          margin: 0rem 12.93rem 2.2rem 12.93rem;
          width: calc(100% - 25.8604rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .logo-6cP {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8209rem;
            width: 3.6582rem;
            height: 5.3716rem;
          }
          .auto-group-5muo-1zF {
            margin-top: 0.5357rem;
            width: 22.0604rem;
            height: 8.0643rem;
            position: relative;
            flex-shrink: 0;

            .farmers-x8o {
              top: 0;
              font-size: 4rem;
              font-weight: 400;
              white-space: nowrap;
              width: 17.8rem;
              position: absolute;
              left: 0;
              font-family: Rubik Wet Paint, 'Source Sans Pro';
              height: 4.8rem;
              line-height: 1.185;
              color: #ffffff;
            }
            .hub-Ftb {
              position: absolute;
              top: 3.2643rem;
              font-size: 4rem;
              line-height: 1.185;
              color: #ffffff;
              font-family: Rubik Wet Paint, 'Source Sans Pro';
              width: 8.5rem;
              height: 4.8rem;
              left: 13.5604rem;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
        .content-xHD {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .we-provide-specialized-winterization-services-to-safeguard-your-pool-during-the-off-season-and-when-spring-arrives-we-handle-the-thorough-opening-process-i1V {
            max-width: 52.4rem;
            font-size: 2.4rem;
            line-height: 1.6539999644;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5rem;
            text-align: center;
            font-weight: 600;
            color: #ffffff;
          }
          .follow-kis {
            height: 6rem;
            display: flex;
            column-gap: 1.5rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0 11.95rem;
            width: calc(100% - 23.9rem);

            .item-1-fqq {
              box-sizing: border-box;
              padding: 2.1rem 2.072rem 2.043rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;

              .insta-Q2j {
                vertical-align: top;
                width: 1.9283rem;
                height: 1.8569rem;
                object-fit: contain;
              }
            }
            .item-2-KvP {
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.1rem 2.072rem 2.054rem 2rem;

              .fb-4NB {
                width: 1.9283rem;
                height: 1.8457rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-3-nJB {
              box-sizing: border-box;
              padding: 2.2rem 1.934rem 2.147rem 2rem;
              height: 100%;
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;

              .twiter-v9V {
                width: 2.066rem;
                height: 1.6528rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-4-eLP {
              background-color: #eff6f1;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2rem 2.041rem 2.041rem 2rem;
              height: 100%;

              .pintrest-PHy {
                width: 1.9589rem;
                height: 1.9589rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
      .line-hZZ {
        flex-shrink: 0;
        margin-right: 4.6rem;
        width: 0rem;
        height: 0.1rem;
        background-color: #d4d4d4;
      }
      .utility-pages-dy1 {
        flex-shrink: 0;
        margin-top: 3.2rem;
        width: 23.35rem;

        .quick-links-Axw {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.185;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          width: 100%;
          text-align: center;
          display: flex;
          font-family: Rubik, 'Source Sans Pro';
          margin-bottom: 2.4rem;
        }
        .about-us-services-shop-blog-team-tP9 {
          max-width: 8.2rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 2.7290000916;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .copyright-zSB {
      display: flex;
      align-items: baseline;
      text-align: center;
      font-size: 1.8rem;
      white-space: nowrap;
      color: #515b5f;
      font-family: Open Sans, 'Source Sans Pro';
      border-top: solid 0.1rem #d4d4d4;
      padding: 1.7rem 72.15rem 0rem 72.15rem;
      font-weight: 400;
      line-height: 1.6540000704;
      box-sizing: border-box;
      width: 100%;
      flex-shrink: 0;

      .copyright-zSB-sub-0 {
      }
      .copyright-zSB-sub-1 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .copyright-zSB-sub-2 {
      }
      .copyright-zSB-sub-3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .copyright-zSB-sub-4 {
      }
      .copyright-zSB-sub-5 {
        color: #515b5f;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6540000704;
      }
    }
  }
}
