.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 40px;
  /* background-color: teal; */
  color: #fff;
  width: 67.6rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-links li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.nav-links li {
  padding: 5px 14px;
}

.nav-links a {
  color: #fff;
}

.active,
.nav-links a:hover {
  color: hsl(247, 87%, 35%);
}
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.service-Nwh {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.service-Nwh .auto-group-wtxu-t9M {
  width: 100%;
  height: 65.4rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .banner-image-Rf5 {
  width: 192rem;
  height: 45rem;
  position: absolute;
  left: 0;
  top: 20.4rem;
}
.service-Nwh .auto-group-wtxu-t9M .banner-image-Rf5 .background-wdR {
  width: 192rem;
  height: 45rem;
  position: absolute;
  left: 0rem;
  top: 0;
  background-color: #f1eff0;
}
.service-Nwh .auto-group-wtxu-t9M .banner-image-Rf5 .background-4xw {
  width: 192rem;
  height: 45rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .auto-group-wtxu-t9M .banner-image-Rf5 .services-Q1D {
  width: 27.2rem;
  height: 8.3rem;
  position: absolute;
  left: 82.3rem;
  top: 18.4rem;
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .auto-group-wtxu-t9M .banner-image-Rf5 .bg-patterns-gUX {
  width: 192rem;
  height: 45rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj {
  box-sizing: border-box;
  padding: 6.9rem 16.2rem 6.8rem 16.2rem;
  width: 191.9791rem;
  height: 21.9929rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(1, 125, 3, 0.8999999762);
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR {
  margin-right: 6.2791rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .logo-RqR {
  margin-right: 15rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .logo-RqR .logo-yc3 {
  margin: 0.414rem 1.142rem 0rem 0rem;
  width: 3.6582rem;
  height: 5.3716rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .logo-RqR .auto-group-gt5j-JPR {
  width: 21.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .logo-RqR .auto-group-gt5j-JPR .hubs-SVd {
  width: 8.5rem;
  height: 4.8rem;
  position: absolute;
  left: 13.2rem;
  top: 3.4929rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.185;
  color: #ffa858;
  font-family: Rubik Wet Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .logo-RqR .auto-group-gt5j-JPR .farmers-M6o {
  width: 17.8rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik Wet Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .menu-Fhy {
  margin: 2.6964rem 0;
  width: 67.6rem;
  height: calc(100% - 5.3929rem);
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .menu-Fhy .home-about-pages-shop-projects-news-C7R {
  width: 67.6rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-1-HDR .menu-Fhy .icon-JAT {
  width: 0.6rem;
  height: 0.3rem;
  position: absolute;
  left: 25.8rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq {
  margin: 0.796rem 0rem 0.896rem 0rem;
  height: calc(100% - 1.6929rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .search-9Ry {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 0.496rem 0.621rem 0.504rem 20.279rem;
  width: 26.5rem;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 3.6rem;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .search-9Ry .search-icon-4Yw {
  box-sizing: border-box;
  padding: 1.7rem 1.6rem 1.8rem 1.9rem;
  width: 100%;
  height: 100%;
  background-color: #7db593;
  border-radius: 2.8rem;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .search-9Ry .search-icon-4Yw .vector-bYs {
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .cart-JiB {
  box-sizing: border-box;
  padding: 0.5rem 2.3rem 0.5rem 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e0e0e0;
  border-radius: 3.3rem;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .cart-JiB .cart-icon-S3h {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.7rem 1.747rem 1.7rem 1.5rem;
  height: 100%;
  background-color: #274c5b;
  border-radius: 2.8rem;
  flex-shrink: 0;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .cart-JiB .cart-icon-S3h .icon-AVV {
  width: 2.3533rem;
  height: 2.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .auto-group-wtxu-t9M .header-paj .header-L3H .item-2-cwq .cart-JiB .cart-0-gij {
  margin-bottom: 0.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 {
  box-sizing: border-box;
  padding: 20.2rem 26rem 20.1rem 26.1rem;
  width: 100%;
  height: 153.3rem;
  background-color: #f9f8f8;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf {
  width: 100%;
  height: 100%;
  position: relative;
}
.service-Nwh .service-YW3 .content-faf .button-2RD {
  box-sizing: border-box;
  padding: 2.8rem 3.6rem;
  width: 22rem;
  height: 8rem;
  position: absolute;
  left: 59rem;
  top: 105rem;
  border: solid 0.2rem #335b6b;
  background-color: #f9f8f8;
  border-radius: 1.6rem;
}
.service-Nwh .service-YW3 .content-faf .button-2RD .explore-more-Y8f {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.service-Nwh .service-YW3 .content-faf .button-2RD .explore-more-Y8f .explore-more-6R5 {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .button-2RD .explore-more-Y8f .aerrow-q7m {
  margin-bottom: 0.1rem;
  width: 1.9rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR {
  width: 139.9rem;
  height: 99rem;
  position: absolute;
  left: 0;
  top: 10rem;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 {
  width: 39.8rem;
  height: 63.4113rem;
  position: absolute;
  left: 100.1rem;
  top: 17.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM {
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-1-wa7 {
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-1-wa7 .icon-tkF {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 6.113rem;
  height: 6.2371rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-1-wa7 .icon-tkF .ellipse-86-DXd {
  width: 3.2785rem;
  height: 3.2785rem;
  position: absolute;
  left: 0;
  top: 2.9586rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-1-wa7 .icon-tkF .natural-food-kGf {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0.513rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-1-wa7 .agricultural-services-sMH {
  margin-bottom: 0.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-1-wa7 .sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptat-accusantium-doloremqlaudantium-sed-ut-perspiciatis-bYB {
  max-width: 39.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-2-gJj {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-2-gJj .icon-Er3 {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 5.813rem;
  height: 5.6371rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-2-gJj .icon-Er3 .ellipse-87-Azb {
  width: 3.2785rem;
  height: 3.2785rem;
  position: absolute;
  left: 0;
  top: 2.3586rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-2-gJj .icon-Er3 .vegetables-bag-uxB {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 1.013rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-2-gJj .organic-products-e95 {
  margin-bottom: 0.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .auto-group-nxhs-bFM .item-2-gJj .sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptat-accusantium-doloremqlaudantium-sed-ut-perspiciatis-Nas {
  max-width: 39.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .item-3-eoH {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .item-3-eoH .icon-D5h {
  margin: 0rem 0rem 0.5rem 0rem;
  width: 6.113rem;
  height: 6.2371rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .item-3-eoH .icon-D5h .ellipse-88-XcB {
  width: 3.2785rem;
  height: 3.2785rem;
  position: absolute;
  left: 0;
  top: 2.9586rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .item-3-eoH .icon-D5h .radish-57u {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 1.113rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .item-3-eoH .fresh-vegetables-p5V {
  margin-bottom: 0.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-2-5H1 .item-3-eoH .sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptat-accusantium-doloremqlaudantium-sed-ut-perspiciatis-XVh {
  max-width: 39.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .photo-DNX {
  width: 74.3rem;
  height: 99rem;
  position: absolute;
  left: 32.9rem;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/photo-bg.png');
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM {
  width: 39.6rem;
  height: 62.7113rem;
  position: absolute;
  left: 0;
  top: 18.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-1-eyd {
  margin-bottom: 3.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-1-eyd .icon-oLj {
  margin-bottom: 0.5rem;
  width: 5.2654rem;
  height: 5.5371rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-1-eyd .icon-oLj .ellipse-91-kFy {
  width: 3.2785rem;
  height: 3.2785rem;
  position: absolute;
  left: 1.987rem;
  top: 2.2586rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-1-eyd .icon-oLj .milk-bottle-4nT {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-1-eyd .dairy-products-bnP {
  margin-bottom: 0.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-1-eyd .sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptat-accusantium-doloremqlaudantium-sed-ut-perspiciatis-w5Z {
  max-width: 39.6rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-2-cxP {
  margin-bottom: 3.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-2-cxP .icon-Ayu {
  margin-bottom: 0.5rem;
  width: 5.1654rem;
  height: 5.5371rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-2-cxP .icon-Ayu .ellipse-90-Kbu {
  width: 3.2785rem;
  height: 3.2785rem;
  position: absolute;
  left: 1.887rem;
  top: 2.2586rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-2-cxP .icon-Ayu .online-store-rbq {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-2-cxP .store-services-nkP {
  margin-bottom: 0.4rem;
  text-align: right;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-2-cxP .sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptat-accusantium-doloremqlaudantium-sed-ut-perspiciatis-7nf {
  max-width: 39.6rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-3-pBH {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-3-pBH .icon-aAT {
  margin-bottom: 0.5rem;
  width: 5.4654rem;
  height: 5.1371rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-3-pBH .icon-aAT .ellipse-89-X5h {
  width: 3.2785rem;
  height: 3.2785rem;
  position: absolute;
  left: 2.187rem;
  top: 1.8586rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-3-pBH .icon-aAT .delivery-FnP {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-3-pBH .delivery-services-Bvw {
  margin-bottom: 0.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .content-LKR .item-1-KwM .item-3-pBH .sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptat-accusantium-doloremqlaudantium-sed-ut-perspiciatis-WyD {
  max-width: 39.6rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .heading-Cr3 {
  width: 40.2rem;
  height: 23.1rem;
  position: absolute;
  left: 49.9rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service-Nwh .service-YW3 .content-faf .heading-Cr3 .what-we-grow-YQ7 {
  margin-bottom: 0.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.365;
  color: #7db593;
  font-family: Yellowtail, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .service-YW3 .content-faf .heading-Cr3 .better-agriculture-for-better-future-G5D {
  max-width: 40.2rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD {
  margin: 0rem 1.3rem 14rem 0rem;
  box-sizing: border-box;
  padding: 17.9rem 63rem 17.9rem 63.1rem;
  width: calc(100% - 1.3rem);
  height: 107.3rem;
  background-color: #efd371;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/auto-group-wphs.png');
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto {
  width: 100%;
  height: 35.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service-Nwh .background-image-ZKD .content-Sto .heading-bFu {
  margin-bottom: 5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto .heading-bFu .title-wqZ {
  margin: 0rem 6.65rem 2.4rem 6.65rem;
  width: calc(100% - 13.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto .heading-bFu .title-wqZ .organic-only-Gsq {
  margin-bottom: 0.6rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.365;
  color: #7db593;
  font-family: Yellowtail, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto .heading-bFu .title-wqZ .everyday-fresh-clean-PhZ {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #274c5b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto .heading-bFu .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-had-ceased-to-been-the-industrys-standard-dummy-text-ever-since-the-Kr7 {
  max-width: 65.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #274c5b;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto .video-icon-Cf1 {
  margin: 0 27.6rem;
  box-sizing: border-box;
  padding: 4.14rem 4rem 4.14rem 4.525rem;
  width: calc(100% - 55.2rem);
  box-shadow: -0.4rem 1rem 1.2rem #dad1b5;
  background-color: #7db593;
  border-radius: 5.35rem;
  flex-shrink: 0;
}
.service-Nwh .background-image-ZKD .content-Sto .video-icon-Cf1 .polygon-j99 {
  width: 2.175rem;
  height: 2.4195rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .footer-zqm {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #002d00;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if {
  margin: 0rem 36.35rem 5.2rem 31.1rem;
  width: calc(100% - 67.45rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH {
  margin: 3.75rem 6.3rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .contact-us-p47 {
  margin: 0rem 0rem 1.75rem 1.7rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Rubik One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .contact-us-p47 .contact-us-p47-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .contact-us-p47 .contact-us-p47-sub-1 {
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .contact-us-p47 .contact-us-p47-sub-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 {
  max-width: 26.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .contact-us-GoH .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67 .email-farmershub00093gmailcom-phone-9006622732-address-ahmedabad-gujarat-H67-sub-6 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6499999364;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .line-zq5 {
  margin-right: 5.55rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #d4d4d4;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F {
  margin-right: 5.55rem;
  width: 52.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .logo-G1u {
  margin: 0rem 12.93rem 2.2rem 12.93rem;
  width: calc(100% - 25.8604rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .logo-G1u .logo-Bef {
  margin-right: 0.8209rem;
  width: 3.6582rem;
  height: 5.3716rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .logo-G1u .auto-group-r3mf-KVy {
  margin-top: 0.5357rem;
  width: 22.0604rem;
  height: 8.0643rem;
  position: relative;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .logo-G1u .auto-group-r3mf-KVy .farmers-eo9 {
  width: 17.8rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik Wet Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .logo-G1u .auto-group-r3mf-KVy .hub-m75 {
  width: 8.5rem;
  height: 4.8rem;
  position: absolute;
  left: 13.5604rem;
  top: 3.2643rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik Wet Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .we-provide-specialized-winterization-services-to-safeguard-your-pool-during-the-off-season-and-when-spring-arrives-we-handle-the-thorough-opening-process-pb9 {
  margin-bottom: 5rem;
  max-width: 52.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.6539999644;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh {
  margin: 0 11.95rem;
  width: calc(100% - 23.9rem);
  height: 6rem;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-1-CLo {
  box-sizing: border-box;
  padding: 2.1rem 2.072rem 2.043rem 2rem;
  height: 100%;
  background-color: #eff6f1;
  border-radius: 3rem;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-1-CLo .insta-KwD {
  width: 1.9283rem;
  height: 1.8569rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-2-487 {
  box-sizing: border-box;
  padding: 2.1rem 2.072rem 2.054rem 2rem;
  height: 100%;
  background-color: #eff6f1;
  border-radius: 3rem;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-2-487 .fb-NuV {
  width: 1.9283rem;
  height: 1.8457rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-3-VDR {
  box-sizing: border-box;
  padding: 2.2rem 1.934rem 2.147rem 2rem;
  height: 100%;
  background-color: #eff6f1;
  border-radius: 3rem;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-3-VDR .twiter-1xT {
  width: 2.066rem;
  height: 1.6528rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-4-x71 {
  box-sizing: border-box;
  padding: 2rem 2.041rem 2.041rem 2rem;
  height: 100%;
  background-color: #eff6f1;
  border-radius: 3rem;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .about-L8F .content-ruD .follow-Ufh .item-4-x71 .pintrest-V6w {
  width: 1.9589rem;
  height: 1.9589rem;
  object-fit: contain;
  vertical-align: top;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .line-bQs {
  margin-right: 4.6rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #d4d4d4;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .utility-pages-vxw {
  margin-top: 3.2rem;
  width: 23.35rem;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .utility-pages-vxw .quick-links-sdH {
  margin-bottom: 2.4rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.service-Nwh .footer-zqm .auto-group-dswz-9if .utility-pages-vxw .about-us-services-shop-blog-team-VPm {
  max-width: 8.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7290000916;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .copyright-oQT {
  box-sizing: border-box;
  padding: 1.7rem 72.15rem 0rem 72.15rem;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  border-top: solid 0.1rem #d4d4d4;
  flex-shrink: 0;
}
.service-Nwh .footer-zqm .copyright-oQT .copyright-oQT-sub-0 {
}
.service-Nwh .footer-zqm .copyright-oQT .copyright-oQT-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .copyright-oQT .copyright-oQT-sub-2 {
}
.service-Nwh .footer-zqm .copyright-oQT .copyright-oQT-sub-3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
}
.service-Nwh .footer-zqm .copyright-oQT .copyright-oQT-sub-4 {
}
.service-Nwh .footer-zqm .copyright-oQT .copyright-oQT-sub-5 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6540000704;
  color: #515b5f;
  font-family: Open Sans, 'Source Sans Pro';
}
